<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
      alt=""
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu nova versao do angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a
        href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
        molestiae mollitia quia, sequi officiis amet aliquam porro perspiciatis
        autem? Ea perspiciatis ullam quisquam libero sit modi! Excepturi sed
        repudiandae perferendis?</a
      >
    </p>
  </div>
</div>
